/*ICONS CSS STARTS*/
.icon {
	background: url('../../icons/icons.png') no-repeat top left; 
	width: 50px;
	height: 50px;
	position: relative;
	display: inline-block;
}

.icon.horizontal-layout {
	background-position: -1px -1px;
	height: 18px;
	width: 18px;
}

.icon.vertical-layout {
	background-position: -26px -1px;
	height: 18px;
	width: 18px;
}

.icon.linked-in {
	background-position: 0 -31px;
	height: 50px;
	width: 50px;
}

.icon.linked-in:hover {
	background-position: 0 -91px;
}

.icon.mail-me {
	background-position: 0 -151px;
	height: 50px;
	width: 50px;
}

.icon.mail-me:hover {
	background-position: 0 -211px;
}

.icon.fb {
	background-position: 0 -271px;
	height: 50px;
	width: 50px;
}

.icon.fb:hover {
	background-position: 0 -331px;
}

.icon.twitter {
	background-position: 0 -391px;
	height: 50px;
	width: 50px;
}

.icon.twitter:hover {
	background-position: 0 -451px;
}

.icon.arrow-down {
	background-position: 0 -511px;
	height: 50px;
	width: 50px;
}

/*ICONS CSS ENDS*/