/*ICONS CSS STARTS*/
.icon {
	background: url('../../icons/icons.png') no-repeat top left; 
	width: 50px;
	height: 50px;
	position: relative;
	display: inline-block;
}

.icon.horizontal-layout {
	background-position: -1px -1px;
	height: 18px;
	width: 18px;
}

.icon.vertical-layout {
	background-position: -31px -1px;
	height: 18px;
	width: 18px;
}

.icon.linked-in {
	background-position: 0 -31px;
	height: 50px;
	width: 50px;
}

.icon.mail-me {
	background-position: 0 -91px;
	height: 50px;
	width: 50px;
}

.icon.fb {
	background-position: 0 -151px;
	height: 50px;
	width: 50px;
}

.icon.twitter {
	background-position: 0 -211px;
	transform : scale(0.8);
}

.twitter-container {
	height: 50px;
	width: 50px;
	border: 1px solid #d2d2d2;
	display: inline-block;
}

.icon.arrow-down {
	background-position: 0 -511px;
	height: 50px;
	width: 50px;
}

/*ICONS CSS ENDS*/