.icon {
	background: url('../../icons/icons.png') no-repeat top left; 
	width: 50px;
	height: 50px;
	position: relative;
	display: inline-block;
}

.icon.horizontal-layout {
	background-position: -1px -1px;
	height: 18px;
	width: 18px;
}

.icon.vertical-layout {
	background-position: -31px -1px;
	height: 18px;
	width: 18px;
}

.icon.linked-in {
	background-position: 0 -30px;
	height: 50px;
	width: 50px;
}

.icon.mail-me {
	background-position: 0 -90px;
	height: 50px;
	width: 50px;
}

.icon.fb {
	background-position: 0 -150px;
	height: 50px;
	width: 50px;
}

.icon.twitter {
	background-position: 0 -210px;
	height: 50px;
	width: 50px;
}

.icon.github {
	background-position: 0 -270px;
	height: 50px;
	width: 50px;
}

.icon.arrow-down {
	background-position: 0 -511px;
	height: 50px;
	width: 50px;
}