.awards-recog-cont {
	height: 500px;
}

.awards-content {
	text-align: center;
	padding: 0 25px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	margin-top: 60px;
	height: 100%;
}

.awards-content.award {
	margin-left: 100px;
}

.awards-content.recognition {
	margin-left: 25px;
}

.insta-award {
	width: 500px;
	height: 330px;
	margin: 50px 0 50px 0;
}

.mywords-container {
	border-top: 1px solid #d2d2d2;
	margin-top: 50px;
}

.recognition-content,
.mywords {
	margin-top: 30px;
}

/*Media Queries*/
@media screen and (max-width: 768px) {
	.awards-content {
		width: 90%;
		height: 80%;
		margin-top: 0;
	}

	.awards-content.award {
		margin-left: 25px;
		margin-top: 70px;
	}

	.awards-content.recognition {
		margin: 0 0 25px 25px;
	}

	.insta-award {
		width: 80vw;
		height: 40vh;
	}

	.awards-recog-cont {
		height: auto !important;
	}
}