#jobs hr {
	border-color: #fff !important;
}

.jobs-wrapper {
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	position: absolute;
	top: 20vh;
	overflow-y: auto;
	height: 75%;
}

.vertical-layout .jobs-wrapper {
	position: inherit;
}

.organisation-thumb {
	opacity: 0.8;
	margin-left: 28%;
}

.job-details {
	margin-top: 20px;
}

.job-header {
	text-transform: uppercase;
	font-size: 18px;
	color: #428bca;
	padding-left: 20px;
}

@media screen and (max-width:768px) {
	.organisation-thumb {
		margin-left: 10%;
		width: 65vw;
		height: 25vh;
	}

	.jobs-wrapper {
		overflow-y: initial;
		margin-left: 40px;
		height: auto;
	}
}