#works-details .details-wrapper {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	margin-top: 5vh;
	max-height: 78vh;
	overflow: auto;
}

#works-details .header-label {
	font-size: 18px;
	color: #428bca;
	margin-top: 14px;
	text-transform: uppercase;
}

.back-to-works {
	font-size: 16px;
	color: #d2d2d2;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid;
	float: left;
	margin-left: 28px;
	margin-top: 10px;
	padding-right: 12px;
	position: absolute;
}

.back-to-works:hover {
	background-color: #1e1e1e;
	color: #fff;
}

@media screen and (max-width: 768px) {
	#works-details .details-wrapper {
		overflow-y: inherit;
		margin-top: 8vh;
		padding-bottom: 5px;
		max-height: 100vh;
	}
}