#works-home .project-element {
	position: absolute;
    top: 20vh;
    display: none;
/*	transform: translate3d(0px, 0px, 0px);
	transition: transform .3s ease-in-out;*/
}

#works-home .thumb-image-wrapper {
	width: 100%;
    height: 255px;
    cursor: pointer;
    overflow: hidden;
    border: 3px solid #d2d2d2;
    background-size: 100% 100%;
}

#works-home .thumb-image-wrapper.shadow {
    top: -20px;
    position: absolute;
    left: 25px;
    z-index: -1;
    transform: scale(0.95, 1);
}

#works-home .thumb-image {
	width: 100%;
    height: 40vh;
}

#works-home .thumb-image:hover {
	transform: scale(1.3);
	transition: all ease-in 0.3s;
}

#works-home .project-img-details {
    width: 100%;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

#works-home .project-img-details span.value {
	font-weight: 900;
    font-size: larger;
    text-transform: uppercase;
    color: #d9534f;
}

#works-home .arrow {
    width: 100px;
    position: absolute;
    height: 20px;
    opacity: .8;
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px #d2d2d2;
}

#works-home .arrow.arrow-down {
    top: 58vh;
    left: 13vw;
}

#works-home .arrow.arrow-up {
    top: -15vh;
    left: 13vw;
}

#works-home .arrow-down i,
#works-home .arrow-up i {
    margin: -2px;
}

