#works-details .details-wrapper {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.6);
	margin-top: 5vh;
	max-height: 78vh;
	overflow: auto;
}

#works-details .header-label {
	font-size: 18px;
	color: #428bca;
	margin-top: 14px;
	text-transform: uppercase;
}

#works-details .back-to-works {
	font-size: 16px;
	color: #d2d2d2;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid;
	float: left;
	margin-left: 28px;
	margin-top: 10px;
	padding-right: 12px;
	position: absolute;
}

#works-details .back-to-works:hover {
	background-color: #d2d2d2;
	color: #1e1e1e;
}