#works-home .project-element {
	position: absolute;
    top: 20vh;
    display: none;
/*	transform: translate3d(0px, 0px, 0px);
	transition: transform .3s ease-in-out;*/
}

#works-home .thumb-image-wrapper {
	width: 100%;
    height: 255px;
    cursor: pointer;
    overflow: hidden;
    border: 3px solid #d2d2d2;
    background-size: 100% 100%;
}

#works-home .thumb-image {
	width: 100%;
    height: 40vh;
}

#works-home .thumb-image:hover {
	transform: scale(1.3);
	transition: all ease-in 0.3s;
}

#works-home .project-img-details {
    width: 100%;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

#works-home .project-img-details span.value {
	font-weight: 900;
    font-size: larger;
    text-transform: uppercase;
    color: #d9534f;
}