<div class= "row" id= "works-home">
	<button class= "back-to-works" ng-click= "wvm.goBack()">
		<i class="material-icons vertical-middle">keyboard_arrow_left</i>
		<span class= "vertical-middle">Back</span>
	</button>
	<div class= "col-lg-4 col-md-4 col-sm-10 col-xs-10 col-lg-offset-4 col-md-offset-4 col-sm-offset-1 col-xs-offset-1">
		<div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12 project-element" ng-repeat= "project in wvm.myProjects" ng-if= "project.active" ng-class= "project.animClass" data-step="1" data-intro="Scroll to navigate through projects.">
			<button class= "arrow arrow-up animated animate-2s bounce" ng-class= "[$root.theme, 'theme']" ng-hide= "$first" ng-click= "wvm.scrollUpDown('up')">
				<i class="material-icons">keyboard_arrow_up</i>
			</button>
			<div data-step="2" data-intro="Hover over to start slideshow">
				<div class= "row thumb-image-wrapper" ng-style="{'background-image':'url({{project.thumb}})'}" ng-mouseover= "wvm.startGIF($event, project)" ng-mouseout= "wvm.resetBackground($event, project)" data-step="3" data-intro="Click to expand image">
				</div>
				<div class= "row thumb-image-wrapper shadow" ng-style="{'background-image':'url({{project.thumb}})'}">
				</div>
			</div>
			<a href= "javascript:void(0)" ng-click= "wvm.goToDetails(project)">
				<div class= "row project-img-details cursor-pointer" ng-class= "[$root.theme, 'theme']" data-step="4" data-intro="Click to go to details page">
					<div class= "col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<span>Project Name : </span>
					</div>
					<div class= "col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<span class= "value">{{project.name}}</span>
					</div>
					<div class= "col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<span>Client : </span>
					</div>
					<div class= "col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<span class= "value">{{project.client}}</span>
					</div>
				</div>
			</a>
			<button class= "arrow arrow-down animated animate-2s bounce" ng-hide= "$last" ng-click= "wvm.scrollUpDown('down')" ng-class= "[$root.theme, 'theme']">
				<i class="material-icons">keyboard_arrow_down</i>
			</button>
		</div>
	</div>
</div>
