.home-menu {
	min-height: 40.7px;
	background-color: #1E1E1E;
	color: #f9f9f9;
}

.home-label-head,
.home-label {
	font-size: x-large;
	font-weight: bolder;
	margin-top: 20px;
	cursor: pointer;
}

.home-menu-header {
	text-align: center;
	vertical-align: middle;
	border-radius: 0;
	opacity: 0.8;
	border-left: 1px solid #d2d2d2;
	border-top: 1px solid #d2d2d2;
	z-index: 2;
	height: 100%;
}

.home-menu-header:hover {
	opacity: 1;
} 

.name-header {
	font-size: 12px;
	text-align: center;
	background-color: #1E1E1E;
	color: #fff;
	line-height: 6.5vh;
	cursor: pointer;
}

.name-header span {
	font-size: xx-large;
}

.custom-dropdown {
	position: absolute;
	width: 100%;
	left:0;
	top: 40px;
	opacity: 0;
	transform: translateY(-100%);
	transition: all 0.3s ease-in;
	visibility: hidden;
}

.home-menu-header:hover .custom-dropdown {
	opacity: 1;
	background-color: #1E1E1E;
	visibility: visible;
	transition: .5s cubic-bezier(0, 1, 0.5, 1);
  	transform: translateY(0);
}

.dropdown-element {
	display: block;
	line-height: 35px;
	max-height: 35px;
	cursor: pointer;
}

.dropdown-element:hover {
	background-color: #fff;
	color: #1e1e1e;
	font-weight: bolder;
}

.vertical.home-menu {
	height: 100vh;
	background-color: transparent;
}

.vertical .home-menu-header {
	position: relative;
	margin-top: 95px;
	height: 70px;
	border: none;
}

.vertical .home-menu-header.first {
	margin-top: 50px;
}

.color-picker {
	position: absolute;
	width: 75px;
	height: 80px;
	display: block;
	top: 50vh;
	left: -25vw;
	transition: all ease-in 0.3s;
}

.color-picker .color-tile {
	margin-right: 5px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

@keyframes rotatecolor {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    50%  {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

.color-picker.active {
	left: 50vw;
	margin-top: -25px;
	margin-left: -25px;
	-webkit-animation-name: rotatecolor; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 0.3s; /* Safari 4.0 - 8.0 */
	animation-name: rotatecolor;
	animation-duration: 0.3s;
}

.color-picker-small {
	height: 16px;
	width: 22px;
	display: inline-block;
	position: absolute;
	margin-top: 10px;
	margin-left: 5px;
	border: 0.5px solid #d2d2d2
}

.color-tile-small {
	height: 5px;
	width: 5px;
	display: inline-block;
	float: left;
}

.layout-picker {
	display: inline-block;
	vertical-align: middle;
}

.social-connect {
	position: absolute;
	top: 50vh;
	left: 44vw;
	margin-top: -25px;
	margin-left: -50px;
}

.social-connect a {
	margin-right: 10px;
}

.social-connect span:hover {
	transform : scale(1.1);
}

@media screen and (max-width: 768px) {
	.home-menu {
		min-height: 20px !important;
	}

	.home-label {
		font-size: large !important;
		font-weight: normal !important;
	}

	.custom-dropdown {
		top: 30px !important;
	}

	.name-header span {
		font-size: x-large !important;
	}

	.social-connect {
		left: 0  !important;
		margin-left: 10% !important;
	}

	.customize {
		padding-left: 0 !important;
	}

	.dropdown-element {
		max-width: 130px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}