<div class= "row" ng-controller= "HomeController as hvm"  ng-init= "hover = {}">
	<div class= "col-lg-12 col-md-12 col-sm-12 home name-header">
		<span class= "home-label" ng-click= "hvm.goToHome()">ASHISH DWIVEDI <span class= "red">[Web Dev]</span></span>
	</div>

	<!-- Horizontal View -->
	<div class= "row home-menu horizontal" ng-if= "hvm.layoutHorizontal">
		<div class= "col-lg-4 col-md-4 col-sm-4 col-xs-4 works home-menu-header" ng-mouseover= "hover.works = true" ng-mouseout= "hover.works = false">
			<span class= "home-label" ng-click= "hvm.goToHome()">
				MY WORKS
				<hr class= "custom-hr" ng-class= "{'opaque' : hover.works}">
			</span>
			<div class= "custom-dropdown">
				<span class= "dropdown-element">DESIGN PORTAL</span>
				<span class= "dropdown-element">DWB</span>
				<span class= "dropdown-element">OTHERS</span>
			</div>
		</div>
		<div class= "col-lg-4 col-md-4 col-sm-4 col-xs-4 profile home-menu-header" ng-mouseover= "hover.about = true" ng-mouseout= "hover.about = false">
			<span class= "home-label" ng-click= "hvm.goToHome()">
				ABOUT ME
				<hr class= "custom-hr" ng-class= "{'opaque' : hover.about}">
			</span>
			<div class= "custom-dropdown">
				<span class= "dropdown-element">1</span>
				<span class= "dropdown-element">2</span>
				<span class= "dropdown-element">3</span>
			</div>
		</div>
		<div class= "col-lg-4 col-md-4 col-sm-4 col-xs-4 customize home-menu-header" ng-mouseover= "hover.customize = true" ng-mouseout= "hover.customize = false">
			<span class= "home-label" ng-click= "hvm.goToHome()">
				CUSTOMIZE
				<hr class= "custom-hr" ng-class= "{'opaque' : hover.customize}">
			</span>
			<div class= "custom-dropdown">
				<div class= "dropdown-element" ng-click= "hvm.switchLayout()">
					<label tooltip="Switch to vertical" tooltip-placement="right" class= "inline-block">LAYOUT</label>
					<div class= "layout-picker inline-block">
						<span class= "icon" ng-class= "{'vertical-layout' : !hvm.layoutHorizontal, 'horizontal-layout' : hvm.layoutHorizontal}"></span>
					</div>
				</div>
				<div class= "dropdown-element" ng-click= "hvm.switchColor()">
					<label>COLOR THEME</label>
					<div class= "color-picker-small">
						<span class= "color-tile-small bg-white"></span>
						<span class= "color-tile-small bg-black"></span>
						<span class= "color-tile-small bg-red"></span>
						<span class= "color-tile-small bg-green"></span>
						<span class= "color-tile-small bg-navy-blue"></span>
						<span class= "color-tile-small bg-blue"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Vertical Alignment -->
	<!-- <div class= "row home-menu vertical" ng-if= "!hvm.layoutHorizontal">
		<div class= "row">
			<div class= "col-lg-2 col-md-2 col-sm-2 works home-menu-header" ng-mouseover= "hover.works = true" ng-mouseout= "hover.works = false">
				<span class= "home-label" ng-click= "hvm.goToHome()">
					MY WORKS
					<hr class= "custom-hr" ng-class= "{'opaque' : hover.works}">
				</span>
				<div class= "custom-dropdown">
					<span class= "dropdown-element">DESIGN PORTAL</span>
					<span class= "dropdown-element">DWB</span>
					<span class= "dropdown-element">OTHERS</span>
				</div>
			</div>
		</div>
		<div class= "row">
			<div class= "col-lg-2 col-md-2 col-sm-2 profile home-menu-header" ng-mouseover= "hover.about = true" ng-mouseout= "hover.about = false">
				<span class= "home-label" ng-click= "hvm.goToHome()">
					ABOUT ME
					<hr class= "custom-hr" ng-class= "{'opaque' : hover.about}">
				</span>
				<div class= "custom-dropdown">
					<span class= "dropdown-element">1</span>
					<span class= "dropdown-element">2</span>
					<span class= "dropdown-element">3</span>
				</div>
			</div>
		</div>
		<div class= "row">
			<div class= "col-lg-2 col-md-2 col-sm-2 customize home-menu-header" ng-mouseover= "hover.customize = true" ng-mouseout= "hover.customize = false">
				<span class= "home-label" ng-click= "hvm.goToHome()">
					CUSTOMIZE
					<hr class= "custom-hr" ng-class= "{'opaque' : hover.customize}">
				</span>
				<div class= "custom-dropdown">
					<div class= "dropdown-element" ng-click= "hvm.switchLayout()">
						<label class= "inline-block">LAYOUT</label>
						<div class= "layout-picker">
							<span class= "icon" ng-class= "{'vertical-layout' : !hvm.layoutHorizontal, 'horizontal-layout' : hvm.layoutHorizontal}"></span>
						</div>
					</div>
					<div class= "dropdown-element" ng-click= "hvm.switchColor()">
						<label>COLOR THEME</label>
						<div class= "color-picker small" ng-class= "{'active' : hvm.pickColor}">
							<span class= "color-tile bg-white"></span>
							<span class= "color-tile bg-black"></span>
							<span class= "color-tile bg-gray"></span>
							<span class= "color-tile bg-red"></span>
							<span class= "color-tile bg-green"></span>
							<span class= "color-tile bg-navy-blue"></span>
							<span class= "color-tile bg-blue"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<!-- Color Picker -->
	<div class= "color-picker" ng-class= "{'active' : hvm.pickColor}">
		<span class= "color-tile bg-white"></span>
		<span class= "color-tile bg-black"></span>
		<span class= "color-tile bg-red"></span>
		<span class= "color-tile bg-green"></span>
		<span class= "color-tile bg-navy-blue"></span>
		<span class= "color-tile bg-blue"></span>
	</div>

	<div class= "social-connect cursor-pointer">
		<a tooltip="Visit LinkedIn Profile" tooltip-placement="top" href= "https://in.linkedin.com/in/ashish-dwivedi-760a3023" target="_blank">
			<span class= "icon linked-in"></span>
		</a>
		<a tooltip="Write to me" tooltip-placement="top" href="mailto:ashishdwivedi1909@yahoo.in?Subject=Hello%20Ashish" target="_top">
			<span class= "icon mail-me"></span>
		</a>
	</div>
</div>