<div class= "row" ng-controller= "HomeController as hvm">
	<div class= "col-lg-12 col-md-12 col-sm-12 home-menu">
		<div class= "col-lg-3 col-md-3 col-sm-3 home home-menu-header">
			<span ng-click= "hvm.goToHome()">ASHISH DWIVEDI</span>
		</div>
		<div class= "col-lg-4 col-md-4 col-sm-4 works home-menu-header">
			<span ng-click= "hvm.goToHome()">MY WORKS</span>
		</div>
		<div class= "col-lg-3 col-md-3 col-sm-3 profile home-menu-header">
			<span ng-click= "hvm.goToHome()">ABOUT ME</span>
		</div>
		<div class= "col-lg-2 col-md-2 col-sm-2 customize home-menu-header">
			<span ng-click= "hvm.goToHome()">CUSTOMIZE</span>
		</div>
	</div>
</div>