<!-- Color Picker -->
<div class= "color-picker" ng-class= "{'active' : hvm.$rootScope.pickColor}">
	<span class= "color-tile" ng-repeat="theme in hvm.myConfig.bgThemes" ng-class= "theme" ng-click= "($root.theme=theme);$root.switchColor()"></span>
</div>

<div class= "social-connect cursor-pointer">
	<a tooltip="Visit LinkedIn Profile" href= "https://in.linkedin.com/in/ashish-dwivedi-760a3023" target="_blank">
		<span class= "icon linked-in"></span>
	</a>
	<a tooltip="Connect on Facebook" href="http://facebook.com/ashishdwivedi1909" target="_blank">
		<span class= "icon fb"></span>
	</a>
	<a tooltip="Ping on Twitter" href="https://twitter.com/ashdiw" target="_blank">
		<span class= "icon twitter"></span>
	</a>
	<a tooltip="Write to me" href="mailto:ashishdwivedi1909@yahoo.in?Subject=Ashish,%20Let's%20have%20a%20word" target="_self">
		<span class= "icon mail-me"></span>
	</a>
	<a tooltip="Git Repo" href="https://github.com/ashish-dwivedi" target="_blank">
		<span class= "icon github"></span>
	</a>
</div>