<div class= "row" id= "works-details">
	<button class= "back-to-works" ng-click= "wdvm.goBack()">
		<i class="material-icons vertical-middle">keyboard_arrow_left</i>
		<span class= "vertical-middle">Back</span>
	</button>
	<div class= "col-lg-6 col-md-6 col-sm-10 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-1 col-xs-offset-1 details-wrapper" ng-class= "[$root.theme, 'theme']">
		<h1 class= "red text-center text-uppercase">{{wdvm.project.name}}</h1>
		<div>{{wdvm.project.description}}</div>
		<div class= "details-container row">
			<!-- Technology Block -->
			<div class= "block technology" ng-if= "wdvm.project.details.technology">
				<div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12 header-label">
					<label>Technology</label>
					<hr/>
				</div>
				<div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class= "row">
						<div class= "col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<label>Front End</label>
						</div>
						<div class= "col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<span ng-repeat= "tech in wdvm.project.details.technology.frontend">{{tech}}{{!$last ? ', ' : ''}}</span>
						</div>
						<div class= "col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<label>Back End</label>
						</div>
						<div class= "col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<span ng-repeat= "tech in wdvm.project.details.technology.backend">{{tech}}{{!$last ? ', ' : ''}}</span>
						</div>
					</div>
				</div>
			</div>
			<!-- Tools Block -->
			<div class= "block tools" ng-if= "wdvm.project.details.tools">
				<div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12 header-label">
					<label>Tools</label>
					<hr/>
				</div>
				<div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span ng-repeat= "tool in wdvm.project.details.tools">{{tool}}{{!$last ? ', ' : ''}}</span>
				</div>
			</div>
			<!-- Role Block -->
			<div class= "block tools" ng-if= "wdvm.project.details.tools">
				<div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12 header-label">
					<label>Role Played</label>
					<hr/>
				</div>
				<div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>{{wdvm.project.details.role}}</span>
				</div>
			</div>
			<!-- Details Block -->
			<div class= "block tools" ng-if= "wdvm.project.details.tools">
				<div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12 header-label">
					<label>More About The Project</label>
					<hr/>
				</div>
				<div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span>{{wdvm.project.details.details}}</span>
				</div>
			</div>
		</div>
	</div>
</div>