
<body>
	<center>
		<h1>Hi {{info.username}}!</h1>
		<h2>What would you like to do?</h2>
		<br> <br> <br> <img src="images/food.jpg"
			title="Order Food" class="actionCompo" ng-click="order('food')">
		<img src="images/loyal.jpg" title="Order Grocery" class="actionCompo" ng-click="order('grocery')"> 
		<img src="images/books.jpg" title="Access Library" class="actionCompo" ng-click="order('library')"> 
		<img src="images/messenger.jpg"	title="Messenger" class="actionCompo" style="border: 2px solid;" ng-click="order('messenger')"> 
		<img src="images/map.jpg" title="Locate Places" class="actionCompo" ng-click="order('map')">
	</center>
</body>
